* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 3px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #acacac;
}

::after,
::before {
  box-sizing: border-box;
}

img,
video,
canvas {
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}
button {
  cursor: pointer;
}
html,
body {
  height: 100%;
}

body {
  display: block;
  background-color: #ccc;
  line-height: 160%;
  font-weight: 400;
  margin: 0;
  font-size: 15px;
  min-width: 320px;
}
.wrapper {
  max-width: 800px;
  margin: 0 auto;
  background: #000;
  padding: 20px;
}
.grid-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  position: relative;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  background-color: #000;
  overflow: hidden;
}
.slider,
.footer {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  max-width: 500px;
}
.slider {
  z-index: 1;
}
.footer {
  display: flex;
  justify-content: end;
  align-items: end;
  z-index: 2;
}

.slides {
  display: flex;
  transition: transform 0.5s ease;
  /* margin-bottom: 30px; */
}
.slide {
  display: flex;
  flex-direction: column;
}
.mem-text {
  color: #fff;
  font-size: 24px;
}
.slide img {
  max-width: 500px;
  margin-bottom: 30px;
}

.controls {
  display: flex;
  flex: 0 0 40%;
  justify-content: space-between;
  gap: 5px;
  height: 50px;
  align-items: end;
  background-color: #000;
  padding: 0 0 0 20px;
}
.controls label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #000;
  cursor: pointer;
}
.controls label span {
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ddd;
  cursor: pointer;
}
.bullet {
  height: 20px;
  width: 20px;
  background-color: red;
}

input[type='radio'] {
  display: none;
}

#slide1:checked ~ .slides {
  transform: translateX(0%);
}

#slide2:checked ~ .slides {
  transform: translateX(-100%);
}

#slide3:checked ~ .slides {
  transform: translateX(-200%);
}

#slide4:checked ~ .slides {
  transform: translateX(-300%);
}

#slide5:checked ~ .slides {
  transform: translateX(-400%);
}

input[type='radio']:checked + label {
  background-color: #333;
}
