@font-face {
  font-family: 'ArialRegular';
  src: url('../fonts/arial-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 18px;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'ArialRegular', sans-serif;
  display: block;
  background-color: #fff;
  font-weight: 400;
  margin: 0;
  color: #fff;
  line-height: 160%;
  min-width: 13.33rem;
}

.wrapper {
  max-width: 56.888rem;
  margin: 0 auto;
  background: #000;
  padding: 0.833rem;
}

.slider {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  position: relative;
  margin: 0 auto;
  background-color: #000;
  overflow: hidden;
}

.slides,
.footer {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}
.mem-text {
  width: 100%;
  font-size: clamp(0.666rem, 3vw, 1rem);
}
.footer {
  display: flex;
  justify-content: end;
  align-items: end;
  z-index: 2;
}

.slides {
  display: flex;
  transition: transform 0.7s ease;
  width: 500%;
}

.slide {
  display: flex;
  flex-direction: column;
}

.slide img {
  width: 100%;
  margin-bottom: 1.25rem;
}

input[type='radio'] {
  display: none;
}

#slide1:checked ~ .slides {
  transform: translateX(0%);
}

#slide2:checked ~ .slides {
  transform: translateX(-20%);
}

#slide3:checked ~ .slides {
  transform: translateX(-40%);
}

#slide4:checked ~ .slides {
  transform: translateX(-60%);
}

#slide5:checked ~ .slides {
  transform: translateX(-80%);
}

.controls {
  display: flex;
  justify-content: space-between;
  gap: 0.08rem;
  align-items: end;
  background-color: #000;
  padding: 0 0 0 0.833rem;
  width: 20%;
}
.controls label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.56rem;
  height: 1.56rem;
  border-radius: 50%;
  cursor: pointer;
}
.controls label span {
  display: block;
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 50%;
  background-color: #ddd;
  transition: background-color 0.3s;
}
.controls label:hover span {
  background-color: red;
}
.controls label:active span {
  background-color: violet;
}

input#slide1:checked ~ .footer .controls label[for='slide1'] span,
input#slide2:checked ~ .footer .controls label[for='slide2'] span,
input#slide3:checked ~ .footer .controls label[for='slide3'] span,
input#slide4:checked ~ .footer .controls label[for='slide4'] span,
input#slide5:checked ~ .footer .controls label[for='slide5'] span {
  border: 1px solid yellow;
  background: transparent;
}
input#slide1:checked ~ .footer .controls label[for='slide1']:hover span,
input#slide2:checked ~ .footer .controls label[for='slide2']:hover span,
input#slide3:checked ~ .footer .controls label[for='slide3']:hover span,
input#slide4:checked ~ .footer .controls label[for='slide4']:hover span,
input#slide5:checked ~ .footer .controls label[for='slide5']:hover span {
  border: 1px solid green;
  background: transparent;
}

@media screen and (max-width: 768px) {
}
